:root {
    --tl-blue: #47adf1;
    --tl-lightblue: #45abea;
    --tl-purple: #9c72e4;
    --tl-green: #64c0a9;
    --tl-orange: #f29e33;
    --tl-pink: #d863a1;
    --tl-lightgreen: #b0c926;
}

* {
    margin: 0;
    background-color: #f6f8f9;
}

.logo {
    padding-left: 1rem;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

.scritta_logo {
    background-color: white;
    font-size: 40px;
}